# Configuración de Azure AI Project
# Ejemplo: https://tu-recurso.services.ai.azure.com/api/projects/tu-proyecto
AZURE_PROJECT_ENDPOINT=https://TU-RECURSO.services.ai.azure.com/api/projects/TU-PROYECTO
AZURE_AGENT_NAME=papales
AZURE_AGENT_VERSION=2

# Bypass de Red (Solo si tu entorno bloquea el DNS de Azure)
# Ejemplo: AZURE_HOST=tu-recurso.services.ai.azure.com
AZURE_HOST=TU-RECURSO.services.ai.azure.com
AZURE_IP=0.0.0.0

# Servidor Local
PORT=8080
